@model IEnumerable<zaliczenie.Models.Product>

@{
    var userRole = ViewBag.UserRole; // Pobieranie roli z ViewBag
}

<h2>Lista produktów</h2>

<table>
    <thead>
        <tr>
            <th>Nazwa</th>
            <th>Opis</th>
            <th>Cena</th>
            <th>Akcje</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var product in Model)
        {
            <tr>
                <td>@product.Name</td>
                <td>@product.Description</td>
                <td>@product.Price</td>
                <td>
                    <form asp-action="CreateOrder" asp-controller="Order" method="post">
                        <input type="hidden" name="productId" value="@product.Id" />
                        <input type="number" name="quantity" min="1" value="1" />
                        <button type="submit" class="btn btn-success">Zamów</button>
                    </form>
                </td>
            </tr>
        }
    </tbody>
</table>
@if (userRole == "Admin")
{
    <a href="@Url.Action("Create", "Product")" class="btn btn-primary">Dodaj produkt</a>
    <a href="@Url.Action("Orders", "Product")" class="btn btn-primary">Sprawdź zamówienia</a>
}
